<div class="sq-builder">
  <div class="form-inline">
    <p>If <select class="input-sm form-control" data-ng-model="data.operation"> 
      <option value="and-query">All</option> 
      <option value="or-query">Any</option> 
    </select>
    of these conditions are met</p> 
  </div>
  <div class="filter-panels"> 
    <div class="form-inline"> 
      <div data-ng-repeat="filter in filters" data-sq-builder-chooser="filter" data-sq-fields="data.fields" data-sq-parameters="data.parameters" data-on-remove="removeChild($index)" data-depth="0"></div> 
      <div class="actions">
        <a class="btn btn-xs btn-primary" title="Add Rule" data-ng-click="addRule()"> 
          <i class="fa fa-plus"></i> 
          Add Rule
        </a> 
        <a class="btn btn-xs btn-primary" title="Add Group" data-ng-click="addGroup()"> 
          <i class="fa fa-list"></i> 
           Add Group
        </a> 
        <a ng-if="structuredQueryIsHidden" data-ng-click="showStructuredQuery()" class="btn btn-xs btn-primary" title="Show Generated Query">
          <i class="fa fa-eye"></i>
          Show Generated Query
        </a>
        <a ng-if="!structuredQueryIsHidden" ng-click="hideStructuredQuery()" class="btn btn-xs btn-primary" title="Hide Generated Query">
          <span class="fa-stack fa-stack-xs">
            <i class="fa fa-eye fa-stack-1x"></i>
            <i class="fa fa-ban fa-stack-1x text-danger"></i>
          </span>
          Hide Generated Query
        </a>
      </div> 
    </div> 
  </div> 
  <div uib-collapse="structuredQueryIsHidden">
    <pre ng-bind="renderStructuredQuery()"></pre>
  </div>
</div>
