<div class="sq-builder-group">
  <h5> 
    <select data-ng-model="group.subType" class="input-sm form-control"> 
      <option value="and-query">All</option> 
      <option value="or-query">Any</option> 
    </select> 
    of these conditions are met
  </h5> 
  <div data-ng-repeat="rule in group.rules" data-sq-builder-chooser="rule" data-sq-fields="sqFields" data-sq-parameters="sqParameters" data-depth="{{ +depth + 1 }}" data-on-remove="removeChild($index)"></div> 
  <div class="actions" data-ng-class="getGroupClassName()"> 
    <a class="btn btn-xs btn-primary" title="Add Sub-Rule" data-ng-click="addRule()"> 
      <i class="fa fa-plus"> Add Rule</i> 
    </a> 
    <a class="btn btn-xs btn-primary" title="Add Sub-Group" data-ng-click="addGroup()"> 
      <i class="fa fa-list"> Add Sub-Group</i> 
    </a> 
  </div> 
  <a class="btn btn-xs btn-danger remover" data-ng-click="onRemove()"> 
    <i class="fa fa-minus"></i> 
  </a> 
</div>
