<div class="row" id="ml-analytics-designer">
  <div class="col-md-12">
    <a ng-click="returnHome()" class="text-muted"><< All Reports</a>
    <div class="pull-right" uib-dropdown>
      <a uib-dropdown-toggle>
        <i class="fa fa-bars"></i>
      </a>
      <ul class="dropdown-menu">
        <li><a ng-click="manager.exportConfig()">Download Report Config</a></li>
      </ul>
    </div>

    <h2 class="view-title">{{report.name}}</h2>
   	<p>{{report.description}}</p>

    <ml-analytics-data-source></ml-analytics-data-source>

    <div class="row" style="margin-top:10px" ng-if="reportModel.configError">
      <div class="col-md-12">
        <div class="alert alert-danger">{{reportModel.configError}}</div>
      </div>
    </div>

    <div dashboard="reportDashboardOptions" template-url="/templates/dashboard-content.html"></div>
  </div>
</div>
