<div>

  <div class="col-md-12" ng-if="mode === 'home'">
    <div ng-if="currentUser" class="btn-toolbar" style="margin-left:10px;margin-top:10px">
      <div class="btn-group">
        <button class="btn btn-primary" ng-click="newReportForm()">
          <span class="fa fa-plus"></span> New Report
        </button>
      </div>
    </div>
    <div class="well">
      <h4 class="menu-title">Manage Reports</h4>
      <p ng-if="!currentUser" style="padding-left:8px;">Please log in to view reports.</p>
      <div class="alert alert-warning" ng-show="showLoading">Loading Reports...</div>
      <form ng-if="currentUser" name="filterForm" class="mlad-filter-form" novalidate>
        <input type="text" class="form-control" 
                           ng-model="search.name"
                           placeholder="Filter reports" />
      </form>
      <div class="mlad-report-palette">
        <div class="mlad-report-container">
          <div class="mlad-report-container-inner">
            <div class="mlad-report-item"
                 ng-repeat="report in reports | filter : search | orderBy:'name'"
                 ng-click="gotoDesigner(report.uri)">
              <i class="fa fa-th"></i><span>{{report.name}}</span>
              <div class="toolbar">
                <a class="btn btn-link" ng-click="showReportEditor(report); $event.stopPropagation();">
                  <i class="fa fa-edit"></i>
                </a>
                <br/>
                <a class="btn btn-link" ng-click="deleteReport(report); $event.stopPropagation();">
                  <i class="fa fa-trash-o"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- end palette -->
    </div>
  </div>

  <ml-analytics-new-report ng-if="mode === 'new'"></ml-analytics-new-report>
  <ml-analytics-design ng-if="mode === 'design'"></ml-analytics-design>
  <ml-analytics-report-editor ng-if="mode === 'edit'"></ml-analytics-report-editor>
</div>
