@import "../bower_components/bootstrap/less/bootstrap.less";

.modal-dialog {
  margin: 120px auto;
}

.ml-analytics-design-form.well {
  margin-bottom: 2px;
}

.ml-analytics-design-form {
  .form-group {
    margin-right: 20px;
    margin-bottom: 0px;
    label {
      margin-right: 2px;
    }
    .ng-invalid {
      color: @brand-danger;
    }
  }
}

/* overwrite the dashboard styles */
.widget-container {
  float: none;
  display: block;
  width: auto;
}

.widget {
  overflow: scroll;
}

.text-muted {
  color: #777;
}

.mandatory-field {
  color: #e05314;
}

/* ngTable */
.ng-table th {
  text-align: left;
}

.ng-table th:last-child {
  text-align: center;
}

.workspace-view {
  margin: 0 10px;
  padding: 5px;
}

.filter-form {
  margin: 0 6px 10px 6px;
}

.filter-form input {
  color: #000000;
  background-color: #fff3c0;
  border: 1px solid #a4a4a4;
}

/*
 * The palette for selecting reports
 */
.report-palette {
}

.report-palette .report-container {
  font-size: 13px;
  color: #555;
  text-align: left;
  margin: 2px;
  padding: 2px;
}

.report-palette .report-container .report-container-inner {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.report-container .report-item {
  width: 150px;
  display: block;
  background-color: white;
  border: 1px solid #d1d1d1;
  overflow: hidden;
  margin: 2px 8px;
  padding: 8px;
  text-decoration: none;
  float: left;
  color: #cdcdcd;
  /*z-index: 10000;*/
  text-align: left;

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;

  cursor: pointer;

  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  position: relative;
}

.report-item span, .report-item span {
  display: inline-block;
}

.report-item i {
  padding-right: 8px;
  font-size: 42px;
  color: #828282;
}

.report-item span {
  font-size: 12px;
  color: #555;
  /* Sequences of whitespace will collapse
   * into a single whitespace. Text will
   * wrap when necessary.
   */
  white-space: normal;
}

.report-item:hover {
  background-color: #F24D00; /* #DDDDDD */
}

.report-item:hover i, .report-item:hover span {
  color: #f9edbe;
}

.report-item .toolbar {
  position: absolute;
  top: 2px;
  right: 2px;
  display: none;
  border: 1px solid #gray;
  margin-bottom: 0px;
  padding: 1px 4px;
  /*background-color: blue;*/

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.report-item .toolbar a {
  padding: 0;
  margin: 0;
}

.report-item .toolbar i {
  font-size: 12px;
  color: yellow;
}

.report-item:hover .toolbar {
  display: inline-block;
}

.qb-dashboard .col-xs-12 {
  width: 100%;
  float: left;
  position: relative;
  min-height: 1px;
  /*padding-left: 15px;
  padding-right: 15px;*/
  border: none;
}

.gadget-ws {
  padding-left: 5px;
  padding-right: 5px;
}

.gadget-ws .col-xs-12 {
  padding-left: 5px;
  padding-right: 5px;
}

.qb-header {
  margin-bottom: 10px;
}

.qb-header h3 {
  display: inline-block;

  margin-top: 20px;
  margin-bottom: 10px;

  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1;
  color: #2d2d2d;
}

.qb-header button {
  position: relative;
  top: -3px;
}

.qb-dashboard .btn {
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
}

.qb-dashboard .btn-default {
  border: 1px solid #2e2f2f;
  color: #fff;
  background-color: #474949;
}

.gadget .results-header input {
  margin-left: 10px;
  display: inline-block;
  width: 80px;
}
.gadget .form-control {
  height: 30px;
}

.gadget .results-header select {
  display: inline-block;
  width: auto;
}
.gadget .form-control {
  height: 30px;
}

.gadget .options {
    margin-bottom: 5px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 10px 10px;
}

.gadget .dimension {
    display: inline-block;
    padding: 5px 8px;
    border: 1px solid #bbb;
    background-color: #ccc;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.gadget .dimension select {
  display: inline-block;
  width: auto;
}

.gadget .dimension i {
  font-size: 18px;
  color: black;
}


.qb-dashboard .panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.qb-dashboard .panel-primary {
  border-color: #446e9b;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.gadget .panel-heading {
  overflow: hidden;
}

.panel-primary > .panel-heading {
  color: #fff;
  background-color: #446e9b;
  border-color: #446e9b;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}

.panel-primary .panel-title {
  color: #fff;
}

.panel-body {
  padding: 15px;
}

.gadget .panel-body {
  height: 430px;
  overflow: auto;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
table {
  background-color: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.gadget .section {
  font-weight: 700;
  margin-left: 5px;
}

/* Dimension Builder */

.dimension-builder-rule {
  margin-top: 5px;
}

/* Structured Query Builder */
.actions {
  margin-top: 15px;
  margin-bottom: 5px;
}

.sq-builder-chooser {
  margin-top: 5px;
}

.design-mode .list-group-item-info {
  color: #31708f;
  background-color: #d9edf7;
}

.design-mode .list-group-item-success {
  color: #3c763d;
  background-color: #dff0d8;
}

.design-mode .list-group-item-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
}

.design-mode .list-group-item-danger {
  color: #a94442;
  background-color: #f2dede;
}

.qb-title {
  background-color: #0088CC;
  color: white;
  padding: 5px 5px;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* flex wrapper */
.flex-wrapper {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  width: 100%;
}

.flex, .fx {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-width: 1px;
}

.file-upload-button-wrapper {
  position: relative;
  overflow: hidden;
}

.file-upload-button-wrapper input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.file-upload-note {
  background: #f8f7f0;
  border: 1px solid #e1e1e1;
  line-height: 1.3;
  padding: 8px 10px;
  border-radius: 4px;
}

/* end of Structured Query Builder */

/* hoptions */

.hoptions {
  margin: 0;
  padding: 0;
}

.hoptions li {
  display: inline-block;
  zoom:1;
  *display:inline;
  background: #eee;
  border: solid 1px #999;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  padding: 0 10px;
}

.hoptions li a {
  font-size: 14px;
  line-height: 2em;
  display: block;
  padding: 0 10px;
  outline: none;
}

.hoptions li a:hover {
  text-decoration: underline;
}

.hoptions li.current {
  background: #fff;
  /*padding-top: 6px;*/
  position: relative;
  top: 1px; /* 1px to push the bottom line */
  border-color: #666;
}

.hoptions li a.current {
  font-weight: bold;
}

.hcontainer .hpanel {
  background: #fff;
  border: solid #666 1px;
  padding: 10px;
  border-radius: 0 4px 4px 4px;
  -moz-border-radius: 0 4px 4px 4px;
  -webkit-border-radius: 0 4px 4px 4px;
}

.hpanel .hcontent {
  display: none;
}

.hpanel .show {
  display: block;
}

.hoptions li .radio {
  display: inline-block;
  min-height: 20px;
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
}

.hoptions li.current .radio label {
  font-weight: bold;
}

/* end of hoptions */

.panel > .panel-heading {
  text-align: left;
}

.fa-stack.fa-stack-xs {
    width: 1em;
    height: 1.1em;
    line-height: 1.1em;
}
