<span class="integer-rule"> 
  <select data-ng-model="rule.subType" class="form-control">
    <optgroup label="Integer"> 
      <option value="EQ">=</option> 
      <option value="NE">!=</option> 
      <option value="GT">&gt;</option> 
      <option value="GE">&ge;</option> 
      <option value="LT">&lt;</option> 
      <option value="LE">&le;</option> 
    </optgroup> 
  </select> 
  <input data-ng-if="inputNeeded()" class="form-control" data-ng-model="rule.value" type="text" /> 
  <select class="form-control" ng-model="rule.value"> 
    <option ng-repeat="parameter in parameters" value="#{{parameter.name}}#">{{parameter.name}}</option> 
  </select> 
</span>
