<div class="mlad-dimension-builder row ml-analytics-gutter-10">
  <div class="col-md-6">
    <div class="panel panel-default mlad-panel-sm">
      <div class="panel-heading">
        <span class="panel-title">Dimensions</span>
      </div>
      <ul class="list-unstyled panel-body ml-analytics-dimensions">
        <li
          uib-dropdown
          class="ml-analytics-dimension"
          ng-repeat="field in report.dataSource.fields | filter:isColumnField">
          <a uib-dropdown-toggle>
            <span class="ml-analytics-field-name">
              <span ng-switch="indexService.highLevelType(field)">
                <i class="fa fa-font" ng-switch-when="string"></i>
              </span>
              {{field.alias}}
            </span>
          </a>
          <ul class="dropdown-menu">
            <!--<li><a ng-click="addRow(field)">Add Row</a></li>-->
            <li><a ng-click="addColumn(field)">Add Group By Column</a></li>
            <li ng-repeat="fn in availableFns(field) | orderBy:'toString()'">
              <a ng-click="addCompute(field, fn)">
                Add {{fn}}
              </a>
            </li>
          </ul>
          <a class="mlad-dimension-info pull-right" popover-placement="right-top" popover-trigger="outsideClick" uib-popover-template="'/ml-dimension-builder/dimension-popover.html'">
            <i class="pull-right fa fa-info-circle"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default mlad-panel-sm">
      <div class="panel-heading">
        <span class="panel-title">Measures</span>
      </div>
      <ul class="list-unstyled panel-body ml-analytics-measures">
        <li uib-dropdown class="ml-analytics-measure">
          <a uib-dropdown-toggle>
            <span class="ml-analytics-field-name">
              <i class="icon ion-pound"></i>
              {{report.frequencyAlias}}
            </span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <!-- Random field to make group-by happy -->
              <a ng-click="addCompute(report.dataSource.fields[0], 'frequency')"> Add {{report.frequencyAlias}}
              </a>
            </li>
          </ul>
          <a class="pull-right" popover-placement="right-top" popover-trigger="outsideClick" uib-popover-template="'/ml-dimension-builder/frequency-popover.html'">
            <i class="pull-right fa fa-info-circle"></i>
          </a>
        </li>
        <li
          uib-dropdown
          class="ml-analytics-measure"
          ng-repeat="field in report.dataSource.fields | filter:isComputeField">
          <a uib-dropdown-toggle>
            <span class="ml-analytics-field-name">
              <span ng-switch="indexService.highLevelType(field)">
                <i class="icon ion-pound" ng-switch-when="numeric"></i>
              </span>
              {{field.alias}}
            </span>
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="fn in availableFns(field) | orderBy:'toString()'">
              <a ng-click="addCompute(field, fn)">
                Add {{fn}}
              </a>
            </li>
          </ul>
          <a class="pull-right" popover-placement="right-top" popover-trigger="outsideClick" uib-popover-template="'/ml-dimension-builder/dimension-popover.html'">
            <i class="pull-right fa fa-info-circle"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>
