<div class="dimension-builder row">
  <div class="col-md-6">
    <div class="panel panel-default panel-sm">
      <div class="panel-heading">
        <span class="panel-title">Dimensions</span>
      </div>
      <ul class="list-unstyled panel-body">
        <li uib-dropdown ng-repeat="field in data.fields | filter:isColumnField">
          <a uib-dropdown-toggle>
            <span tooltip-placement="right" uib-tooltip="Index type: {{field['ref-type']}}; Namespace: {{field.ns}}">
              <span ng-switch="highLevelType(field['scalar-type'])">
                <i class="fa fa-font" ng-switch-when="string"></i>
              </span>
              {{shortName(field)}}
            </span>
          </a>
          <ul class="dropdown-menu">
            <!--<li><a ng-click="addRow(field)">Add Row</a></li>-->
            <li><a ng-click="addColumn(field)">Add Group By Column</a></li>
            <li ng-repeat="fn in availableFns(field) | orderBy:'toString()'">
              <a ng-click="addCompute(field, fn)">
                Add {{fn}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default panel-sm">
      <div class="panel-heading">
        <span class="panel-title">Measures</span>
      </div>
      <ul class="list-unstyled panel-body">
        <li uib-dropdown ng-repeat="field in data.fields | filter:isComputeField">
          <a uib-dropdown-toggle>
            <span tooltip-placement="right" uib-tooltip="Index type: {{field['ref-type']}}; Namespace: {{field.ns}}">
              <span ng-switch="highLevelType(field['scalar-type'])">
                <i class="icon ion-pound" ng-switch-when="numeric"></i>
              </span>
              {{shortName(field)}}
            </span>
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="fn in availableFns(field) | orderBy:'toString()'">
              <a ng-click="addCompute(field, fn)">
                Add {{fn}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="filter-panels">
    <div class="form-inline">
      <div class="actions">
        <a ng-if="groupByConfigIsHidden" data-ng-click="showGroupByConfig()" class="btn btn-xs btn-primary" title="Show Generated Dimensions">
          <i class="fa fa-eye"></i>
          Show Generated Group-by Query
        </a>
        <a ng-if="!groupByConfigIsHidden" ng-click="hideGroupByConfig()" class="btn btn-xs btn-primary" title="Hide Generated Dimensions">
          <span class="fa-stack fa-stack-xs">
            <i class="fa fa-eye fa-stack-1x"></i>
            <i class="fa fa-ban fa-stack-1x text-danger"></i>
          </span>
          Hide Generated Group-by Query
        </a>
     </div>
    </div>
  </div>
  <div uib-collapse="groupByConfigIsHidden">
    <pre ng-bind="renderGroupByConfig()"></pre>
  </div>
</div>
