<div class="dimension-builder">
  <!-- <ul class="list-unstyled"> -->
  <!--   <li ng-repeat="field in data.fields | filter:{'scalar-type': '!point'}"> -->
  <!--     field: {{field}} -->
  <!--     <span tooltip-placement="right" uib-tooltip="Index type: {{field['ref-type']}}; Namespace: {{field.ns}}"> -->
  <!--       <span ng-switch="highLevelType(field['scalar-type'])"> -->
  <!--         <i class="fa fa-font" ng-switch-when="string"></i> -->
  <!--         <i class="icon ion-pound" ng-switch-when="numeric"></i> -->
  <!--       </span> -->
  <!--       {{field.shortName}} -->
  <!--     </span> -->
  <!--   </li> -->
  <!-- </ul> -->
  <div class="filter-panels">
    <div class="form-inline">
      <div data-ng-repeat="facet in facets" data-dimension-builder-chooser="facet" data-dimension-fields="data.fields" data-on-remove="removeDimension($index)" data-depth="0"></div>
      <div class="actions">
        <a class="btn btn-xs btn-primary" title="Add Dimension" data-ng-click="addDimension()">
          <i class="fa fa-plus"></i>
          Add Dimension
        </a>
        <a ng-if="dimensionConfigIsHidden" data-ng-click="showDimensionConfig()" class="btn btn-xs btn-primary" title="Show Generated Dimensions">
          <i class="fa fa-eye"></i>
          Show Generated Dimensions
        </a>
        <a ng-if="!dimensionConfigIsHidden" ng-click="hideDimensionConfig()" class="btn btn-xs btn-primary" title="Hide Generated Dimensions">
          <span class="fa-stack fa-stack-xs">
            <i class="fa fa-eye fa-stack-1x"></i>
            <i class="fa fa-ban fa-stack-1x text-danger"></i>
          </span>
          Hide Generated Dimensions
        </a>
     </div>
    </div>
  </div>
  <div uib-collapse="dimensionConfigIsHidden">
    <pre ng-bind="renderDimensionConfig()"></pre>
  </div>
</div>
