<div>
  <div ng-if="widget.mode === 'Design'" class="design-mode">
    <div class="pull-right">
      <a ng-click="widget.mode = 'View'">
        <i class="fa fa-eye" title="View this chart"></i>
        View
      </a>
    </div>

    <form name="designForm" class="form-inline" novalidate>
      <div class="form-group">
        <label class="control-label">Database:</label>
        <select class="input-sm form-control" 
                ng-options="database for database in model.config.databases"
                ng-model="model.config['current-database']"
                ng-change="getDbConfig()"></select>
      </div>

      <div class="form-group">
        <label class="control-label">Limited By:</label>
        <select class="input-sm form-control" 
                ng-model="model.groupingStrategy"
                ng-change="getDbConfig()">
          <option>root</option>
          <option>collection</option>
        </select>
        <span ng-show="model.loadingConfig">&nbsp;<i class="fa fa-spinner fa-spin"></i></span>
      </div>

      <div class="form-group">
        <label class="control-label">Name:</label>
        <select class="input-sm form-control" 
                ng-model="data.directory_model" 
                ng-options="d.name for d in data.docs" 
                ng-change="setDocument()" required>
          <option value="">Choose...</option>
        </select>
      </div>

      <button class="btn btn-success" ng-click="save(); execute()" ng-disabled="designForm.$invalid">
        <span class="fa fa-check"></span> Save and Run</button>
      <span ng-show="model.loadingResults">&nbsp;<i class="fa fa-spinner fa-spin"></i></span>
    </form>

    <div class="row" style="margin-top:10px" ng-if="model.configError">
      <div class="col-md-12">
        <div class="alert alert-danger">{{model.configError}}</div>
      </div>
    </div>

    <div class="row" ng-show="model.showBuilder">
      <div class="col-md-5">
        <h3 class="qb-title">Dimensions & Computations</h3>
        <div dimension-builder="data"></div>
      </div>
      <div class="col-md-7">
        <h3 class="qb-title">Filters</h3>
        <div sq-builder="data"></div>
      </div>
    </div>

    <highchart config="highchartConfig"></highchart>

    <!-- TODO: dry up these tables into a directive -->
    <div class="table-responsive" ng-if="executor.results.length>0">
      <pagination ng-model="grid.page" ng-change="fetchPage()" max-size="10" boundary-links="true" total-items="grid.total" items-per-page="widget.dataModelOptions.pageLength"></pagination>
      <p class="metrics">
        <em>{{ executor.results.length }} results in {{ executor.metrics['total-time'] }}</em>
      </p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th ng-repeat="dimension in executor.dimensions">{{dimension.name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="row in executor.results">
            <td data-ng-repeat="cell in row track by $index">{{cell}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table-responsive" ng-if="model.results.results">
      <div ng-if="model.queryError" class="alert alert-danger">{{ model.queryError }}</div>
      <pagination ng-model="grid.page" ng-change="fetchPage()" max-size="10" boundary-links="true" total-items="grid.total" items-per-page="widget.dataModelOptions.pageLength"></pagination>
      <p class="metrics">
        <em>{{ model.results.results.length }} results in {{ model.results.metrics['total-time'] }}</em>
      </p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th ng-repeat="header in model.results.headers">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="result in model.results.results track by $index">
            <td ng-repeat="val in result track by $index">
              <em ng-if="val === ''"></em>
              <span ng-if="val !== ''">{{ val }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div ng-if="widget.mode === 'View'" class="view-mode">
    <div class="pull-right">
      <a ng-click="widget.mode = 'Design'">
        <i class="fa fa-cog" title="Design this chart"></i>
        Design
      </a>
    </div>

    <form name="viewForm" class="form-inline" style="margin-bottom:10px;margin-bottom:10px">
      <div class="form-group">
        <label class="control-label">Search:</label>
        <input type="text" name="name" class="form-control" ng-model="executor.simple" />
      </div>

      <button class="btn btn-primary" ng-disabled="executor.disableRun" ng-click="execute()">
        <span class="fa fa-eye"></span> Filter Results with Search</button>
      <button class="btn btn-default" ng-click="download()" ng-disabled="executor.disableDownload">
        <span class="fa fa-download"></span> Download Report</button>
      <span ng-show="model.loadingResults">&nbsp;<i class="fa fa-spinner fa-spin"></i></span>
    </form>

    <div class="table-responsive" ng-if="executor.results.length>0">
      <pagination ng-model="grid.page" ng-change="fetchPage()" max-size="10" boundary-links="true" total-items="grid.total" items-per-page="widget.dataModelOptions.pageLength"></pagination>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th data-ng-repeat="dimension in executor.dimensions">{{dimension.name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="row in executor.results">
            <td data-ng-repeat="cell in row track by $index">{{cell}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <highchart config="highchartConfig"></highchart>

    <div class="table-responsive" ng-if="model.results.results">
      <div ng-if="model.queryError" class="alert alert-danger">{{ model.queryError }}</div>
      <pagination ng-model="grid.page" ng-change="fetchPage()" max-size="10" boundary-links="true" total-items="grid.total" items-per-page="widget.dataModelOptions.pageLength"></pagination>
      <p class="metrics">
        <em>{{ model.results.results.length }} results in {{ model.results.metrics['total-time'] }}</em>
      </p>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th ng-repeat="header in model.results.headers">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="result in model.results.results track by $index">
            <td ng-repeat="val in result track by $index">
              <em ng-if="val === ''"></em>
              <span ng-if="val !== ''">{{ val }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
